body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.titulo{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 
}

.menu{

  padding: 20px;
  background-color: rgb(180, 226, 248);
 
  
  
  
}

