.titulo{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 
}

.menu{

    color: blue;

}

.container-box > div {  
    background-color: lightblue;
  }
  
  .container-box > div:nth-of-type(n+2) {
    margin-top: 2em;
  }